{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <main class="main justify-start main-profile">
        <div class="connection-container">
            <h1 class="registration-title">Profil</h1>
            <div>
                <p>
                    Vous êtes connecté {{ app.user.email }}<br>
                    <a href="{{ path('logout') }}">Se déconnecter</a>
                </p>
            </div>
            {% if is_granted('ROLE_ADMINISTRATOR') %}
                <div>
                    <h2>Commandes en attente</h2>
                    {% if waitingOrders is empty %}
                    <p>Aucune commande en attente<p/>
                    {% else %}
                    <table>
                        <tr>
                            <th>Email</th>
                            <th>Articles</th>
                            <th>Actions</th>
                        </tr>
                        {% for order in waitingOrders %}
                            <tr>
                                <td class="email">{{ order.user.email }}</td>
                                <td>
                                {% for article in order.articles %}
                                    <span>{{ article.name }} ×{{ article.quantity }}</span>
                                {% else %}
                                    <span>Aucun article</span>
                                {% endfor %}
                                </td>
                                <td>
                                    <a href="{{ path('calculator_edit', {id: order.id}) }}"><i class="fas fa-search-plus"></i></a>
                                    <a href="{{ path('calculator_accept', {id: order.id}) }}"><i class="fas fa-check"></i></a>
                                    <a href="{{ path('calculator_refuse', {id: order.id}) }}"><i class="fas fa-times"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    {% endif %}
                </div>
            {% endif %}
            <div>
                <h2>Vos dernières commandes</h2>
                {% if orders is empty %}
                <p>Vous n'avez effectué aucune commande<p/>
                {% else %}
                <table>
                    <tr>
                        <th>Date</th>
                        <th>Articles</th>
                        <th>Status</th>
                    </tr>
                    {% for order in orders %}
                        <tr>
                            <td>{{ order.savedAt|date('d/m/y') }}</td>
                            <td>
                            {% for article in order.articles %}
                                <span>{{ article.name }} ×{{ article.quantity }}</span>
                            {% else %}
                                <span>Aucun article</span>
                            {% endfor %}
                            </td>
                            <td>
                                <div class="order-status">
                                    <span>{{ order.statusString }}</span>
                                    {% if order.comment is not empty %}
                                        <details class="modal">
                                            <summary class="modal-trigger"><i class="far fa-comment-dots"></i></summary>
                                            <pre class="modal-content">{{ order.comment }}</pre>
                                        </details>
                                    {% endif %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}
