{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <main class="main justify-start">
        <div class="connection-container">
            <h1 class="registration-title">Profil</h1>
            <div class="disconnection-text">
                <p>
                    Vous êtes connecté {{ app.user.email }}<br>
                    <a href="{{ path('logout') }}">Se déconnecter</a>
                </p>
            </div>
            <hr>
            <div>
                <h2>Vos dernières commandes</h2>
                <table>
                    <tr>
                        <th>Date</th>
                        <th>Articles</th>
                        <th>Etat</th>
                    </tr>
                    {% for order in orders %}
                        <tr>
                            <td>{{ order.savedAt|date('d/m/Y') }}</td>
                            <td>
                            {% for article in order.articles %}
                                <span>{{ article.name }}×{{ article.quantity }}</span>
                            {% endfor %}
                            </td>
                            <td>
                                {{ order.statusString }}
                                {% if order.comment is not empty %}
                                    <details class="modal">
                                        <summary class="modal-trigger"><i id="myIcon" class="far fa-comment-dots"></i></summary>
                                        <p class="modal-content">{{ order.comment }}</p>
                                    </details>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </main>
{% endblock %}
