{% extends 'base.html.twig' %}

{% block title %}Historique{% endblock %}

{% block body %}
<main id="main">
    <div>
        <input type="search" id="history-search" name="history-search" placeholder="Rechercher ...">
    </div>
    {% for order in orders %}
        <div class="history-result">
            <div class="history-result-header">
                <h1>{{ order.name }}</h1>
                <span>{{ order.reference }}</span>
            </div>
            <hr>
            <div class="history-articles">
                {% for article in order.articles %}
                    <span>{{ article.name }}</span>
                    <span>{{ article.length }} x {{ article.width }}</span>
                    <span>Qty {{ article.quantity }}</span>
                {% endfor %}
            </div>
            <hr>
            <div class="history-total">
                <span>Longueur: {{ (order.length / 1000)|round(0, 'ceil') }}m</span>
                <span>Date: {{ order.savedAt|date('d/m/Y') }}</span>
            </div>
            <div class="history-buttons">
                <button onclick="location.href='{{ path('calculator_edit', {id: order.id}) }}'" type="button">Modifier</button>
                {% include 'calculator/_delete_form.html.twig' %}
            </div>
        </div>
    {% endfor %}
</main>
{% endblock %}
