{% extends 'base.html.twig' %}

{% block title %}Historique{% endblock %}

{% block body %}
<main class="main justify-start">
    <form method="get">
        <input type="search" name="search" class="input" placeholder="Rechercher..." value="{{ app.request.query.get('search') }}">
    </form>
    {% if total_pages %}
        <div class="history-pages">
            {% if (total_pages - current_page)|abs > (current_page - 1) %}
                {% set page_min = max(1, current_page - 5) %}
                {% set page_max = min(total_pages, page_min + 10) %}
            {% else %}
                {% set page_max = min(total_pages, current_page + 5) %}
                {% set page_min = max(1, page_max - 10) %}
            {% endif %}
            {% for page_number in page_min..page_max %}
                {% set uri = path(
                        app.request.attributes.get('_route'),
                        app.request.query|merge({'page': page_number})
                ) %}
                {% if page_number == current_page %}
                    <span class="active">{{ page_number }}</span>
                {% else %}
                    <a href="{{ uri }}">{{ page_number }}</a>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    {% for order in orders %}
        <div class="history-result">
            <div class="history-result-header">
                <h1>{{ order.name }}</h1>
                <p><em>Référence</em>: {{ order.reference }}</p>
                <p><em>Laize</em>: {{ order.width }}cm<br><em>Retrait</em>: Longueur {{ order.withdrawLength }}% / Largeur {{ order.withdrawWidth }}%</p>
            </div>
            <hr>
            <div class="history-articles">
                {% for article in order.articles %}
                    <span>{{ article.name }}</span>
                    <span>{{ article.length }} x {{ article.width }}</span>
                    <span>Qty {{ article.quantity }}</span>
                {% endfor %}
            </div>
            <hr>
            <div class="history-total">
                <span>Longueur: {{ (order.length / 1000)|round(0, 'ceil') }}m</span>
                <span>Date: {{ order.savedAt|date('d/m/Y') }}</span>
            </div>
            <div class="history-buttons">
                <button onclick="location.href='{{ path('calculator_edit', {id: order.id}) }}'" type="button">Modifier</button>
                {% include 'calculator/_delete_form.html.twig' %}
            </div>
        </div>
    {% else %}
        <h1>Aucune commande trouvée</h1>
    {% endfor %}
</main>
{% endblock %}
