{% extends 'base.html.twig' %}

{% block title %}Historique{% endblock %}

{% block body %}
    <div>
        <input type="search" id="history-search" name="history-search" placeholder="Rechercher ...">
    </div>
    {% for order in orders %}
        <div>
            <div>
                <p>{{ order.name }}</p>
                <p>Ref : {{ order.reference }}</p>
            </div>
            <div>
                {% for article in order.articles %}
                    <p>{{ article.name }} : {{ article.length }} x {{ article.width }} qty {{ article.quantity }}</p>
                {% endfor %}
            </div>
            <div>
                <p>Longueur : {{ order.length }}</p>
                <p>Date : {{ order.savedAt|date('d/m/Y') }}</p>
            </div>
            <button onclick="location.href='{{ path('calculator_edit', {id:order.id}) }}'" type="button">Modifier</button>
            {% include 'calculator/_delete_form.html.twig' %}
        </div>
    {% endfor %}

{% endblock %}
