{% extends 'base.html.twig' %}

{% block title %}Calculatrice{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('calculator') }}
{% endblock %}

{% block body %}
<main class="main main-calculator">
{{ form_start(form, {attr: {id: 'calculator-form'}}) }}
    <div id="calculator-name">
        {{ form_row(form.name) }}
        {{ form_row(form.reference) }}
    </div>

    <div id="calculator-articles-container">
        {{ form_label(form.articles) }}
        {{ form_errors(form.articles) }}
        <div id="calculator-articles"
            data-prototype="{{ form_widget(form.articles.vars.prototype)|e }}"
            data-widget-tags="{{ '<div class="calculator-article"></div>'|e }}"
            data-widget-counter="{{ form.articles|length }}">
        {% for article_field in form.articles %}
            <div class="calculator-article">
                {{ form_errors(article_field) }}
                {{ form_widget(article_field) }}
            </div>
        {% endfor %}
        </div>
        <button id="calculator-add" type="button" data-list-selector="#calculator-articles">Ajouter</button>
    </div>

    <div id="calculator-results">
        {# TODO #}
        <h1>Resultats</h1>
        <p>Longueur: X<br>Largeur: X</p>
    </div>

    <button id="calculator-save">Sauvegarder</button>
{{ form_end(form) }}
</main>
{% endblock %}
