<script src="https://kit.fontawesome.com/67991a0794.js" crossorigin="anonymous"></script>
<nav class="navbar">
    <ul>
        <li class="nav-item {{ app.request.get("_route") in ["calculator_index", "calculator_edit"] ? "navbar-active" : "" }}">
            <a class="nav-link" href="{{ path('calculator_index') }}"><i class="fas fa-calculator"></i></a>
            <a class="nav-destkop">Calculatrice</a>
        </li>
        <li class="nav-item {{ app.request.get("_route") == "calculator_history" ? "navbar-active" : "" }}">
            <a class="nav-link" href="{{ path('calculator_history') }}"><i class="fas fa-history"></i></a>
            <a class="nav-destkop">Historique</a>
        </li>
        <li class="nav-item {{ app.request.get("_route") in ["profile_index", "login"] ? "navbar-active" : "" }}">
            <a class="nav-link" href="{{ path('profile_index') }}"><i class="fas fa-user"></i></a>
            <a class="nav-destkop">Profil</a>
        </li>
    </ul>
</nav>
